body, #mainTitle {
  color: rgb(200, 200, 200);
  background: rgb(40, 40, 40);
}

body, #mainTitle, a.button, a.quizLinkButton {
  font-family: arial, sans-serif;
}

div {
  padding-top: 10pt;
  padding-bottom: 10pt;
}

#mainTitle {
  text-align: center;
  font-size: large;
}

#top3 > label, #winners > label {
  font-size: large;
  font-style: italic;
  margin: 20pt 5pt 20pt 0pt;
}

#top3 > div, #winners > div {
  padding-top: 7pt;
  padding-bottom: 7pt;
}

table {
  border-collapse: collapse;
  width: 100%;

  margin-bottom: 35px;
}

td, th {
  text-align: right;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(80, 80, 80);
}

tr:not(.tableHeader):hover {
  background-color: rgb(100, 100, 100);
  color: rgb(180, 180, 180);
}

a.button, a.quizLinkButton {
  -webkit-appearance: button;
  -moz-appearance: button;

  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;

  border-radius: 10px;

  text-decoration: none;
}

a.button {
  color: rgb(250, 250, 250);
  background-color: rgb(70, 200, 40);
}

a.quizLinkButton {
  color: rgb(250, 250, 250);
  background-color: rgb(66, 100, 160);

  display: block;
  text-align: center;
  width: 35%;
}

.quizLinkButton:hover {
  background-color: rgb(100, 149, 237);
}

#copyright {
  padding-top: 15px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 8px;
  text-align: right;

  color: rgb(120, 120, 120);
}

#copyright a:link {
  color: rgb(120, 120, 120);
}

#copyright a:visited {
  color: rgb(80, 80, 80);
}

#allQuizzes {
  text-align: center;
}

@media screen and (orientation: portrait) {

  .ownHeader {
    font-size: 72pt;
  }

  th {
    padding: 5% 5% 10% 5%;

    transform: 
      rotate(315deg) translate(10%,0%);
    
    font-size: x-large;
    text-align: left;
  }

  tr {
    font-size: 40pt;
  }

  td {
    text-align: center;
  }
   
  a.button, a.quizLinkButton {
    padding: 10%;
    width: 75%;
    display: block;
    font-size: 40pt;
  }

}